
#ghgifz-modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

#ghgifz-popup {
  background: linear-gradient(45deg, #0cffc1, #f8f024, #f85124, #5d24f8);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  width: 300px;
  height: 440px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}

@-webkit-keyframes AnimationName {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@keyframes AnimationName {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

.ghgifz-popup-header {
  padding: 8px 10px;
  line-height: 16px;
}

.ghgifz-popup-header-title {
  color: #fff;
}

.ghgifz-popup-header-close {
  color: #fff;
  cursor: pointer;
  fill: currentColor;
  opacity: 0.4;
  transition: opacity .15s;
}

.ghgifz-popup-header-close:hover {
  opacity: 1;
}

#ghgifz-popup-grid-container {
  width: 100%;
  height: 410px;
  padding: 10px;
}

#ghgifz-popup-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow: scroll;
  width: 100%;
  height: 390px;
}

#ghgifz-popup-grid img {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}

.ghgifz-btn {
  background-color: transparent;
  border: none;
  opacity: 0.4;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .25s;
}

.ghgifz-btn:hover {
  opacity: 1;
}
